@import url('https://fonts.googleapis.com/css2?family=Gantari:ital,wght@0,100..900;1,100..900&family=Hedvig+Letters+Serif:opsz@12..24&family=Italianno&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
    cursor: none;
}

canvas {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 9999;
}

.cursor {
    z-index: 1000;
    color: #fff;
    position: fixed;
    border-radius: 50%;
    top: 0px;
    left: 0px;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

body {
    background: #f6e9ec;
    color: #2b1f1f;
    overflow-x: hidden;
}

section {
    min-height: 100vh;
}

.main {
    padding: 10vh 8vw;
    position: absolute;
    top: 0;
    z-index: 100;
}

.section-content {
    width: 100%;
    background-image: url(../assets/bgLayer1.png);
    padding: 10vh 8vw;
}

h1 {
    font-size: 5em;
    line-height: 1.1;
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    text-shadow: 2px 2px 4px #FFD67D;
}

h4 {
    font-family: "Hedvig Letters Serif", serif;
    font-size: 1.2em;
    font-weight: 200;
}

p {
    font-family: "Gantari", sans-serif;
}

.bg {
    position: absolute;
    inset: -3%;
    width: 105%;
    height: 105%;
    object-fit: cover;
    pointer-events: none;
    will-change: transform;
}

/* DEPTH */
.layer1 {
    z-index: 1;
    transform: scale(1.02);
    filter: blur(2px);
}

.layer2 {
    z-index: 2;
    transform: scale(1.05);
}

.layer3 {
    z-index: 3;
    transform: scale(1.08);
}

.layer4 {
    z-index: 4;
    transform: scale(1.12);
}

.hero {
    height: 100vh;
    overflow: hidden;
    perspective: 800px;
}